body{
    background-image: url("../img/background.jpg");
}
.title-page{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-family: 'Press Start 2P', cursive;
}
.container{
    text-align: center;
}