#allchat {
   height: 100vh;
   display: grid;
   grid-template-columns: 20% 1fr 17%;
   grid-template-rows: 15% 1fr 20%;
   border: 3px solid #011320;
   overflow: hidden;
}

#profil-topleft {
   grid-column: 1;
   grid-row: 1;
   background-color: #022b4a;
   justify-items: center;
   display: grid;

}

#profil-topleft a {
   text-decoration: none;
   color: #e06500;
   font-size: 12px;
   text-align: center;
}

#profil-topleft a:hover {
   color: white;
   cursor: pointer;
}

.connectedornot {
   color: #3888c2;
}

#leftsettings {
   grid-column: 1;
   grid-row: 2/5;
   background-color: #02345a;
   height: auto;
   overflow: auto;
}

#leftsettings::-webkit-scrollbar {
   width: 5px;
}

.messageleft {
   color: rgba(255, 255, 255, 0.767);
   background-color: #02345a;
   display: grid;
   grid-template-columns: 7% 1fr;
   width: auto;
   height: auto;
   font-size: 12px;
   overflow-y: auto;
   overflow-x: hidden;
   justify-content: center;
}

.messageleft i {
   grid-column: 1;
}

.notifs {
   position: absolute;
   right: 2%;
   bottom: 0.7rem;
   text-align: center;
   background-color: #ca0000;
   border-radius: 50%;
   width: 1.3rem;
   height: 1.3rem;
   padding-top: 0.1rem;
}

.messageleft i {
   color: #e06500;
   cursor: pointer;
}

.messageleft i:hover {
   color: white;
   cursor: pointer;
}

.messageleft::-webkit-scrollbar {
   width: 0.65em;
}

.messageleft::-webkit-scrollbar-thumb {
   background-color: #e06500;
   cursor: pointer;
}

.messageleft strong {
   color: #e06500;
   font-size: 1.3vh;
   font-weight: bold;
}

.messageleft a {
   color: white;
}

.messageleft a:hover {
   text-decoration: none;
color: #e06500;
list-style: none;
}

#topic-message-right {
   grid-column: 3;
   grid-row: 1/5;
   background-color: #02345a;
   color: white;
}

.checkboxinvite {
   margin-left: 0.5em;
}

#chat-middle-output {
   border: none;
   grid-column: 2/3;
   grid-row: 2/4;
   background-color: #f0f0f0;
   height: auto;
   width: auto;
   overflow:auto;
   display: grid;
   padding-top: 10px;
   border-radius: 5px;
}

#chat-middle-output::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

#chat-middle-output::-webkit-scrollbar-thumb {
   background-color: #e06500;
}

.sender {
   background-color: #013f6e;
   width: auto;
   min-height: 3rem;
   max-width: 34rem;
   color: white;
   border-radius: 0.5rem;
   margin: 2rem 0 2rem -2rem;
   text-align: justify;
   padding: 1rem;
}

.sender strong {
   color: rgb(255, 115, 0);
   font-size: 15px;
   font-weight: bold;

}

.sender p {
   font-size: 14px;
   font-weight: bolder;
}

.you-container {
   margin: 1rem;
   position: relative;
}
.sender-container {
   margin: 1rem;
   position: relative;
}
.date-container {
   float: right;
   color: #01132069;
   font-size: 0.7rem;
   font-style: italic;
}
.date-container-sender {
   color: #01132069;
   font-size: 0.7rem;
   font-style: italic;
   margin: -2rem 0 0rem -1.5rem;
}
.you {
   background-color: rgb(11, 143, 148);
   width: auto;
   min-height: 3rem;
   max-width: 34rem;
   color: white;
   border-radius: 0.5rem;
   margin: 2rem 0 0 7rem;
   text-align: justify;
   padding: 1rem;
}
.you-container i {
   font-size: 0.6rem;
   color: #01132069;
   /* color: inherit; */
   /* float: right; */
}
.pseudo {
   font-size: 0.7rem;
   color: #013f6e;
}

.pseudoyou {
   font-size: 0.7rem;
   color: rgb(11, 143, 148);
}

.you:active {
   color: rgba(255, 196, 0, 0.849);
}

.you strong {
   color: #00345c;
   font-size: 11px;
}

.profilchat {
   border-radius: 50%;
   width: 48px;
   height: 48px;
   border: 2px solid #e06500;
   justify-items: center;
   text-align: center;
   margin-left: 5px;
}

.display-you {
   position: absolute;
   right: -4rem;
}

.display-sender {
   position: absolute;
   left: -6rem;
   border-radius: 50%;
   width: 48px;

}

.display-sender:hover {
   cursor: pointer;
}

.profilchat {

}

ul {
   list-style: none;
   justify-self: center;
}

a {
   list-style: none;
   color: white;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

#chat  {
   width: 100%;
}

#chat::-webkit-scrollbar {
   width: 0.8vh;
}

#chat::-webkit-scrollbar-thumb {
   background-color: #e06500;
}

.button-chat:active {
   color: #03b7bd;
   font-style: inherit;
   background-color: #033966;
}

.button-chat {
   background-color: #00345c;
   border: none;
   color: white;
   cursor: pointer;
   border: 0.5px solid #0b8f94;
}

.button-topic {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;
}

.button-left {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;
}

.button-invite {
   background-color: #0b8f94;
   color: white;
   border: none;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
   height: 30px;
   font-size: 12px;
}

.button-disconnect {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;
}

.form-control {
   resize: none;
   color: white;
}

#topic-creating {
   grid-column: 4;
   grid-row:4/5;
   width: auto;
}

#topic-creating li {
   list-style: none;
}

#topic-creating textarea {
   font-weight: 700;
   background-color: #0187ee1a;
   color: white;
}

.topicleft  {
   margin-bottom: 1em;
}

.topic-title-left {
   color: rgba(255, 115, 0,3);
   text-align: center;
   border-top: 1px solid #e06500;
   border-bottom: 1px solid #e06500;
   padding: 0.3em;
   font-size: 14px;
}

#messagebottom {
   grid-column: 2 / 4;
   grid-row: 4;
   display: grid;
}

#messagebottom textarea {
   font-weight: 700;
   background-color: #0187ee1a;
   color: #032944b4;
   position: static;
}

.emo {
   flex-direction: row;
   display: flex;
}

.send{
   grid-row: 4;
}

#topic-output-chat {
   position: relative;
   background-color: #01243f;
   color: #e06500;
   grid-row: 1;
   border: none;
   border-bottom: 1px solid #e06500;
   border-right: 1px solid #e06500;
   border-left: 1px solid #e06500;
}

#topic-output-chat h1 {
   text-align: center;
   padding-top: 1em;
   font-size: 18px;
   font-weight: 900;
   text-justify: auto;
}
.invited {
   position: absolute;
   bottom: 0;
}

.invited-name {
   font-size: 0.7rem;
   color: #acafbb;
   font-style: italic;
   bottom: 0em;
   margin: 0 0 0 1em;
}

.user-invited-list {
padding-left: 2.5em;
}

.created-by {
   position: absolute;
   right: 0;
   bottom: -0.8rem;
   color: rgba(255, 255, 255, 0.6);
   float: right;
   padding-right: 1em;
   font-size: 10px;
   font-style: italic;
}

.closetopic {
   position: fixed;
}

.messageleft a {
   position: relative;
}

.contact-list  {
   list-style:none;
}

.contact li {
   padding-left: 0.5em;

}

.edited-message-area {
   outline: none;
   background-color: #02345a;
   color: white;
   border:1px solid #02345a;
   overflow: auto;
   resize: none;
   width: 300px;
   height: 150px;
}


.edited-message-area::-webkit-scrollbar {
   width: 8px;
   height: 7px;
}

.edited-message-area::-webkit-scrollbar-thumb {
   background-color: #e06500;
}
