
#allchat {
   height: 100vh;
   display: grid;
   grid-template-columns: 20% 1fr 17%;
   grid-template-rows: 15% 1fr 20%;
   border: 3px solid #011320;
   overflow: hidden;
 
}


#profil-topleft {
   grid-column: 1;
   grid-row: 1;
   background-color: #00345c;
   justify-items: center;
   display: grid;
}

#profil-topleft a {
   text-decoration: none;
   color: #e06500;
   font-size: 12px;
}

#profil-topleft a:hover {
   color: white;
   cursor: pointer;
}


.connectedornot {
   color: #3888c2;
}


#leftsettings {
   grid-column: 1;
   grid-row: 2/5;
   background-color: #02345a;
   height: auto;
   overflow: auto;
}

#leftsettings::-webkit-scrollbar {
   width: 5px;
}



.messageleft {
   color: rgba(255, 255, 255, 0.767);
   background-color: #02345a;
   width: auto;
   height: auto;
   font-size: 12px;
   overflow-y: auto;
   overflow-x: hidden;
 
   justify-content: center;
  
   padding-top: 1em;
}
.messageleft li {

   display: flex;
   padding-left: 2em;

}
.notifs {
   padding-left: 1em;
}
.messageleft i {
   color: #e06500;
   cursor: pointer;
}

.messageleft i:hover {
   color: white;
   cursor: pointer;
}



.messageleft::-webkit-scrollbar {
   width: 0.65em;

}

.messageleft::-webkit-scrollbar-thumb {
   background-color: #e06500;
   cursor: pointer;
}


.messageleft strong {
   color: #e06500;
   font-size: 1.3vh;
   font-weight: bold;
}
.messageleft a {
   color: white;
}
.messageleft a:hover {
   text-decoration: none;
color: #e06500;
list-style: none;
}

#topic-message-right {
   grid-column: 3;
   grid-row: 1/5;
   background-color: #02345a;
   color: white;
}




.checkboxinvite {
   margin-left: 0.5em;
}


#chat-middle-output {
   border: none;
   grid-column: 2/3;
   grid-row: 2/4;
   background-color: #0187ee1a;
   height: auto;
   width: auto;
   overflow:auto;
   display: grid;
   padding-top: 10px;
}

#chat-middle-output::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

#chat-middle-output::-webkit-scrollbar-thumb {
   background-color: #e06500;
}

.sender {
   margin-bottom: 5px;
   border: 1px solid #c9cac9;
   background-color: #013f6e;
   width: 30em;
   color: white;
   border-radius: 1.5vh;
   margin-bottom: 2vh;
   padding-top: 0.8vh;
   padding-bottom: 0.7vh;
   padding-left: 1vh;
   margin-left: 5vh;
}

.sender strong {
   color: rgb(255, 115, 0);
   font-size: 15px;
   font-weight: bold;

}

.sender p {
   font-size: 14px;
   font-weight: bolder;
}

.date-msg {
   color: #ffffff8e;
   font-size: 9px;
   font-style: italic;
   text-justify: right;
}


.you {
   background-color: rgb(11, 143, 148);
   width: 30em;
   color: white;
   border-radius: 1.5vh;
   margin-bottom: 2vh;
   padding-top: 0.8vh;
   padding-bottom: 0.7vh;
   padding-left: 1vh;
   margin-left: 10vh;
}
.you i {
   font-size: 0.6rem;
   color: #ffffff8e;
}

.you:active {
   color: rgba(255, 196, 0, 0.849);
}

.you strong {
   color: #00345c;
   font-size: 11px;
}

.profilchat-you {
   border-radius: 50%;
   width: 48px;
   border: 2px solid #e06500;
}

.profilchat-you:hover {
   border-radius: 50%;
   border: 2px solid white;
   cursor: pointer;
}

.profilchat {
   border-radius: 50%;
   width: 48px;
   margin-right: 10px;
   margin-bottom: 10px;
}

ul {
   list-style: none;
   justify-self: center;


}

ul li {
   text-align: center;
}

a {
   list-style: none;
   text-align: center;
   color: white;
   text-decoration: none;
}

a:hover {
   
   text-decoration: none;
}

#chat  {

   width: 100%;
}

#chat::-webkit-scrollbar {
   width: 0.8vh;
}

#chat::-webkit-scrollbar-thumb {
   background-color: #e06500;
}

.button-chat:active {
   color: #03b7bd;
   font-style: inherit;
   background-color: #033966;
}

.button-chat {
   background-color: #00345c;
   border: none;
   color: white;
   cursor: pointer;
   border: 0.5px solid #0b8f94;
}

.button-topic {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;
}



.button-left {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;

}

.button-invite {
   background-color: #0b8f94;
   color: white;
   border: none;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100%;
   height: 30px;
   font-size: 12px;
}

.button-disconnect {
   background-color: rgb(224, 101, 0);;
   border: none;
   color: white;
   cursor: pointer;
   width: 100%;
   height: 30px;
   font-size: 12px;
   margin-top: 10px;
}

.form-control {
   resize: none;
   color: white;
}

#topic-creating {
   grid-column: 4;
   grid-row:4/5;
   width: auto;
}

#topic-creating li {
   list-style: none;
}

#topic-creating textarea {
   font-weight: 700;
   background-color: #0187ee1a;
   color: white;
}

.topicleft  {
   list-style: none;
   text-align: center;
   margin-bottom: 1em;
}

.topic-title-left {
   color: rgba(255, 115, 0,3);
   text-align: center;
   border-top: 1px solid #e06500;
   border-bottom: 1px solid #e06500;
   padding: 0.3em;
   font-size: 14px;
}

#messagebottom {
   grid-column: 2 / 4;
   grid-row: 4;
   display: grid;
   
}

#messagebottom textarea {
   font-weight: 700;
   background-color: #0187ee1a;
   color: #032944b4;
   position: static;
}
.emo{
   flex-direction: row;
   display: flex;
}

.send{
   grid-row: 4;
}

#topic-output-chat {
   background-color: #00345c;
   color: #e06500;
   grid-row: 1;
   border: none;  

   border: 1px solid #e06500;
   border-bottom: 5px solid #e06500;

}

#topic-output-chat h1 {
   text-align: center;
   padding-top: 1em;
   font-size: 18px;
   font-weight: 900;
   text-justify: auto;
}

.user-invited-list {
padding-left: 2.5em;
}

.created-by {
   color: rgba(255, 255, 255, 0.6);
   float: right;
   padding-right: 1em;
   font-size: 10px;
   font-style: italic;
}

.closetopic {
   position: fixed;

}

.messageleft a {
   display: inline-block;
   position: relative;
}

.contact-list {
   list-style:none;
}