body {
   display: grid;
   grid-template-columns: 15% 1fr 15%;
   grid-template-rows: 15% 1fr 15%;
   background-color: rgba(35, 207, 216, 0.115);
   font-family: 'Roboto', sans-serif;

}

#messaging {
   background-color: rgb(38, 132, 146);
   display: grid;
   width: auto;
   height: 200px;
   margin: 0 auto;
   grid-column: 2/3;
   border-radius: 10px 10px 0% 0%;
   color: white;
   padding-left: 10px;
   font-size: 12px;
}


#conversations {
   display: grid;
   width: auto;
   margin: 0 auto;
   grid-column: 2/3;
   border-radius: 10px 10px 0% 0%;
}


.area {
   resize: none;
   width: 350px;
   height: 80px;
   border-radius: 0% 0% 10px 10px;
}

textarea {
   font-size: 8px;

}

#send {
   display: grid;
   justify-content: center;
   align-items: center;
}

#send input {
   border: none;
   border-radius: 2px;
   background-color: rgb(38, 132, 146);
   outline: none;
   transition: 0.2s;
   color: white;

}

#send input:hover {
   background-color: rgb(10, 115, 141);
   box-shadow: 0 0 20px 3px rgb(11, 108, 132);
   transform: scale(1.05);
}


#send input:active {
   background-color: rgb(10, 115, 141);
   box-shadow: 0 0 10px 2px rgb(15, 136, 167);
   transform: scale(0.98);
}